<div class="container login mt-3 bg-light">
  <h2 class="text-dark">Units</h2>
  <a href="/condo/create/1" id="cancelButton" class="btn btn-warning">
    Create
  </a>
  <table class="table login bg-light ">
    <thead>
      <tr>
        <th scope="col">ID#</th>
        <th scope="col">Unit#</th>
        <th scope="col">Type</th>
        <th scope="col">Address</th>
        <th scope="col">description</th>
        <% if(displayName) { %>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <% } %>
      </tr>
    </thead>
    <tbody>
      <% for(let count=0; count<list.length;count++) {%>
        <tr>
          <th scope="row">
            <%=list[count]._id %>
          </th>
          <th>
            <%=list[count].unitNumber %>
          </th>
          <td>
            <%=list[count].type %>
          </td>
          <td>
            <%=list[count].address %>
          </td>
          <td>
            <%=list[count].description %>
          </td>
          <% if(displayName) { %>
            <td><a href="/condo/create/<%=list[count]._id%>"><i class="fas fa-edit"></i></a></td>
            <td><a href="/condo/delete/<%=list[count]._id%>" class="delete"><i class="fas fa-trash"></i></a>
            </td>
            <% } %>
        </tr>
        <% }%>

    </tbody>

  </table>
</div>