<div class="container login mt-3 bg-light">
  <h2 class="text-dark">Maintenance Requests</h2>
  <a href="/renovations/create" id="cancelButton" class="btn btn-warning">
    Create
  </a>
  <table class="table login bg-light ">
    <thead>
      <tr>
        <th scope="col">Id#</th>
        <th scope="col">Request Date#</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
        <th scope="col">Description</th>
        <th scope="col">Requester</th>
        <th scope="Status"></th>
      </tr>
    </thead>
    <tbody>
      <% for(let count=0; count<list.length;count++) {%>
        <tr>
          <th scope="row">
            <%=count+1 %>
          </th>

          <td>
            <%=list[count].created %>
          </td>
          <td>
            <%=list[count].startDate %>
          </td>
          <td>
            <%=list[count].endDate %>
          </td>
          <td>
            <%=list[count].type %>
          </td>
          <td>
            <%=list[count].status %>
          </td>
          <td>
            <%=list[count].description %>
          </td>
          <td>
            <%=list[count].userId %>
          </td>
        </tr>
        <% }%>

    </tbody>

  </table>
</div>